{% load static %}
<footer class="text-light py-1" style="background-color: #351419;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'index' %}" class="text-white">Home</a></li>
                    <li><a href="#" class="text-white">Services</a></li>
                    <li><a href="{% url 'contact' %}" class="text-white">Contact</a></li>
                    <li><a href="{% url 'about' %}" class="text-white">About</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <div class="social-links">
                    <a class="btn btn-outline-light mb-2" target="_blank" href="https://wa.me/916386676301">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="btn btn-outline-light mb-2" target="_blank" href="https://www.instagram.com/_dixit__611/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn btn-outline-light mb-2" target="_blank" href="https://www.facebook.com/profile.php?id=100018450023281">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-outline-light mb-2" target="_blank" href="https://www.linkedin.com/in/aman-dixit-surhan/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a class="btn btn-outline-light mb-2" target="_blank" href="https://github.com/dixit611">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="btn btn-outline-light mb-2" target="_blank" href="mailto:dixitaman611@gmail.com">
                        <i class="far fa-envelope"></i>
                    </a>
                    <a class="btn btn-outline-light mb-2" target="_blank" href="https://youtube.com/@amandixitsurhan1136?feature=shared">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a class="btn btn-outline-light mb-2" target="_blank" href="https://twitter.com/AmanDix19782310">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a class="btn btn-outline-light mb-2" target="_blank" href="https://t.me/creativedixitaman">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a class="btn btn-outline-light mb-2" target="_blank" href="https://aman-dixit-portfo.netlify.app">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <p class="mb-0">&copy; 2024 Aman Dixit. All Rights Reserved.</p>
        </div>
    </div>
</footer>
